<nav>
    <div class="navbar">
        <a href="/">
            <img src="/images/logo.png" alt="Logo" class="logo">
        </a>
        <ul>
            <li>
                <a href="">
                    <img src="/icons/home.svg" alt="Icono Inicio">
                    Inicio
                </a>
            </li>
             <li>
                <a href="api/dashboard">
                    <img src="/icons/list.svg" alt="Icono Lista">
                    Lista de Superheroes
                </a>
            </li>
             <li>
                <a href="heroes/nuevo">
                    <img src="/icons/add.svg" alt="Icono Agregar">
                    Agregar Nuevo Superheroe
                </a>
            </li>
            <li>
                <a href="/about">
                    <img src="/icons/info.svg" alt="Acerca de Icono">
                    Acerca de
                </a>
            </li>
            <li>
                <a href="/contact">
                    <img src="/icons/contact.svg" alt="Contacto Icono">
                    Contacto
                </a>
            </li>
        </ul>
    </div>
</nav>